{% extends 'base.html' %}
{% load static %}
<!-- 페이지별 title -->
{% block title %}
{% endblock %}

<!-- head 부분 페이지별 추가적인 css, js 있으면 여기에 -->
{% block extra_code %}
    <link rel="stylesheet" href="{% static 'css/project-detail.css' %}">
    <style>
        
        .box1 {
            display: flex;
            justify-content: center;
            align-items: center;
            /* flex-direction: column; */
            /* padding: 20px; */
            /* height: auto; */
        }
        
        .box2 input,select {
            /* background-color: lightgray; */
        }
        
        textarea#content {
            width: 100%;
            min-height: 200px;
        }
        
        
        #exp-img {
            margin-right: 20px;
        }
        
        #summary {
            width: 100%;
        }
        
        
    </style>
{% endblock %}
{% block content %}


  <div id="cardOuterbox">
      
    <form id="writeProject" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="titleBox">
            <!-- 제목 -->
            <h2 id="cardTitle">프로젝트 업로드</h2>
        </div>

        <div id="cardBox">

            <div class="box">
                <div class="box1">
                    <!-- 사진 -->
                    <!-- <img src="/static/images/pj1.png" alt=""> -->
                    <div id="exp-img"> 프로젝트 이미지 업로드 </div>
                    <input type="file" id="file" name="file" onChange="fileCheck(this)" accept="image/gif, image/jpeg, image/png"/>
                </div>
            </div>
            <div class="box2">
                <div>
                    <label for="title">프로젝트명: </label>
                    <input id="title" name="title" type="text" value="{{ data.title }}" /> 
                </div>
                <div>               
                    <label for="team">팀명: </label>
                    <input id="team" name="team" type="text" value="{{ data.team }}" /> 
                </div>
                <div> 
                <label for="teammate">팀원: </label>
                <input id="teammate" name="teammate" type="text" value="{{ data.teammate }}"/>
                </div>
                
                <div> 
                <label for="category">소속팀: </label>
                <select name="category" id="category">
                    <option value="0" {% if data.category == 0 %} selected {% endif %}>코어(임베디드)</option>
                    <option value="1" {% if data.category == 1 %} selected {% endif %}>텐서(AI)</option>
                    <option value="2" {% if data.category == 2 %} selected {% endif %}>라떼(앱)</option>
                    <option value="3" {% if data.category == 3 %} selected {% endif %}>태그(웹)</option>
                    <option value="4" {% if data.category == 4 %} selected {% endif %}>라온(게임)</option>
                    <option value="5" {% if data.category == 5 %} selected {% endif %}>실드(보안)</option>
                </select>
                </div> 
                
                <div> 
                    <label for="summary">프로젝트 한줄소개</label>
                    <input id="summary" name="summary" type="text" value="{{ data.summary }}"/> 
                </div>
                
                <div> 
                    <label for="link">깃허브</label>
                    <input id="link" name="link" type="text" value="{{ data.link }}"/> 
                </div>
            </div>
            <div class="box3">                
                <textarea id="content" name="content" type="textarea" placeholder="프로젝트 설명을 입력해주세요. 개요 , 개발배경, 사용한 툴, 주요기능 등">{{ data.content }}</textarea>
            </div>
        </div>
        <center>
            <button id="updateProject">Update</button>
        </center>
      </form>
        
  </div>


{% endblock %}

<!-- 페이지별 추가 스크립트 추가 -->
{% block extra_script %}

<script>
    
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
$(document).ready(function (){
  $("#updateProject").click(function () {
      
      var form = $("#writeProject")[0];
      var formData = new FormData(form);
      
      
      $.ajax({
        type: "POST",
        url: "{% url 'projectUpdate' %}",
        // data: $("#writeProject").serialize(),
        data: formData,
        cache: false,
        contentType : false,
        processData : false,
        success: function(data) {
            // alert(data);
            alert('프로젝트가 수정되었습니다.');
            // window.location.href = "/project";
            
        },
          error: function (xhr, status, error) {
              alert(error);
              console.log(error);
            }
      });
    });
});
    
    
    
function fileCheck(obj) {    
    let file = input.files[0];
    console.log('chcek');
    // 이미지 파일검사, 이미지 프리뷰

}


</script>
{% endblock %}