<div class="left_sub_menu">
    <div class="sub_menu">
        <!-- <input type="search" name="SEARCH" placeholder="SEARCH"> -->
        <!-- Search 메뉴를 잠시 삭제해봄 -->
        <h2><a href="{% url 'communityList' %}">Community</a></h2>
        <ul class="big_menu">
            <li>씨애랑 떠들썩들썩<i class="arrow fas fa-angle-right"></i></li>
            <ul class="small_menu">
                <li><a href="{% url 'communityList' %}?type=0">최신 늬우스</a></li>
                <li><a href="{% url 'communityList' %}?type=1">같이 프로젝트 할 사람!</a></li>
            </ul>
        </ul>
        <ul class="big_menu">
            <li>일자리 게시판<i class="arrow fas fa-angle-right"></i></li>
            <ul class="small_menu">
                <li><a href="{% url 'communityList' %}?type=2">OB가 구하는 직군</a></li>
                <li><a href="{% url 'communityList' %}?type=3">YB가 구하는 직군</a></li>
                <li><a href="{% url 'communityList' %}?type=4">저를 소개합니다.</a></li>
            </ul>
        </ul>
        <ul class="big_menu">
            <li>공지사항<i class="arrow fas fa-angle-right"></i></li>
            <ul class="small_menu">
                <li><a href="{% url 'communityList' %}?type=5">주의사항</a></li>
                <li><a href="{% url 'communityList' %}?type=6">행사</a></li>
            </ul>
        </ul>
        <ul class="big_menu">
            <li>연혁<i class="arrow fas fa-angle-right"></i></li>
            <ul class="small_menu">
                <li><a href="{% url 'communityList' %}?type=7">동아리의 시작 ~ 90년대</a></li>
                <li><a href="{% url 'communityList' %}?type=8">00년대</a></li>
                <li><a href="{% url 'communityList' %}?type=9">10년대</a></li>
                <li><a href="{% url 'communityList' %}?type=10">20년대</a></li>
            </ul>
        </ul>
    </div>
</div>


<script>

    


</script>