{% extends 'base.html' %}
{% load static %}
{% load string_converter %}

<!-- 페이지별 title -->
{% block title %}
{% endblock %}

<!-- head 부분 페이지별 추가적인 css, js 있으면 여기에 -->
{% block extra_code %}
<link rel="stylesheet" href="{% static 'css/community/total.css'%}">
<style>
    #del_board:hover {
        cursor: pointer;
    }
</style>
{% endblock %}

<!-- 본문 (body) 내용 추가 -->
{% block content %}

<div id=communityBox>
    <div class="box1">
    {% include 'community/bar.html' %}
    </div>

        
    <div class="board_wrap">
        <div class="board_title">
            <a href="{% url 'communityList' %}?type={{ data.category }}"><strong>{{ data.category|communityCategory }}</strong></a>
            <p>{{ data.category|categoryExp }}</p>
            <div class="searchbox">
                <!-- <input type="search" name="SEARCH" placeholder="SEARCH"> -->
            </div>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    {{ data.title }}
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>{{ boardnum }}</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>{{ data.user.name }}</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>{{ data.created_at }}</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>{{ data.views }}</dd>
                    </dl>
                </div>
                <div style="white-space:pre;" class="cont">
                    {{ data.content }}
                </div>
            </div>
            <div class="bt_wrap">
                <a href="{% url 'communityList' %}" class="on">목록</a>
                {% if request.session.id == writer %}
                <a id="del_board" onclick="del_board()">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- 페이지별 추가 스크립트 추가 -->
{% block extra_script %}

<script>

    // function gobackList() {
    //     window.location.href = "/project";
    // }
    
    function del_board(){
      var response = confirm("게시물을 정말로 삭제하시겠습니까?");
      if(response){
        window.location.href = "{% url 'boardDelete' data.id %}" 
         // 여기에 name을 쓸수 있눈듯
        alert("성공적으로 삭제되었습니다.");
      }
    }

</script>
{% endblock %}

    

