{% extends 'base.html' %}
{% load static %}
{% load string_converter %}

<!-- 페이지별 title -->
{% block title %}
공지사항
{% endblock %}

<!-- head 부분 페이지별 추가적인 css, js 있으면 여기에 -->
{% block extra_code %}
<link rel="stylesheet" href="{% static 'css/community/total.css' %}">
<style>
    #uploadBoard:hover {
        cursor: pointer;
    }
</style>
{% endblock %}

<!-- 본문 (body) 내용 추가 -->
{% block content %}
<div id=communityBox>
    <div class="box1">
    {% include 'community/bar.html' %}
    </div>
    

    <div class="board_wrap">
        <div class="board_title">
            <a href="#"><strong>Community</strong></a>
            <p>게시글을 작성해주세요.</p>
            <div class="searchbox">
                <!-- <input type="search" name="SEARCH" placeholder="SEARCH"> -->
            </div>
        </div>
        
        <form id="writeBoard">      
            {% csrf_token %}
            <div class="board_write_wrap">
                <div class="board_write">
                    <div class="title">
                        <dl>
                            <dt>제목</dt>
                            <dd><input id="title" name="title" type="text" placeholder="제목 입력"></dd>
                        </dl>
                    </div>
                    <div class="info" sytle="border:none;">
                        <dt> 카테고리:</dt>
                        <dd><select name="category" id="category">
                            <option value="0" selected >{{ 0|communityCategory }}</option>
                            <option value="1" {%if type == 1 %} selected {% endif %}>{{ 1|communityCategory }}</option>
                            <option value="2" {%if type == 2 %} selected {% endif %}>{{ 2|communityCategory }}</option>
                            <option value="3" {%if type == 3 %} selected {% endif %}>{{ 3|communityCategory }}</option>
                            <option value="4" {%if type == 4 %} selected {% endif %}>{{ 4|communityCategory }}</option>
                        </select></dd>
                        <!-- <dl>
                            <dt>글쓴이</dt>
                            <dd><input type="text" placeholder="글쓴이 입력"></dd>
                        </dl>
                        <dl>
                            <dt>첨부파일</dt>
                            <dd><input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"></dd>
                        </dl> -->
                    </div>
                    <div class="cont">
                        <textarea id="content" name="content" placeholder="내용을 입력해주세요."></textarea>
                    </div>
                </div>
                <div class="bt_wrap">
                    <a id="uploadBoard" class="on">등록</a>
                    <a href="{% url 'communityList' %}?type={{ type }}">취소</a>
                </div>
            </div>
        </form>
        
        
    </div>
</div>
{% endblock %}

<!-- 페이지별 추가 스크립트 추가 -->
{% block extra_script %}

<script>
$(document).ready(function (){
  $("#uploadBoard").click(function () {
      
      var form = $("#writeBoard")[0];
      var formData = new FormData(form);     
      
      $.ajax({
        type: "POST",
        url: "{% url 'boardCreate' %}",
        data: formData,
        cache: false,
        contentType : false,
        processData : false,
        success: function(data) {
            
            alert("게시물이 업로드되었습니다.")
            window.location.href = "{% url 'communityList' %}";
            
            // let response = confirm("프로젝트가 업로드되었습니다.");
            //   if(response){                 
            //       window.location.href = "{% url 'communityList' %}?type={{ type }}";
            //   }           
        },
          error: function (xhr, status, error) {
              alert(error);
              console.log(error);
        }
      });
    });
});


</script>



{% endblock %}
